#header {
  margin-top: 20px;
}

.rate-box > .row {
  border: 1px solid #333;
  margin-bottom: 15px;
  padding: 10px 25px 5px 42px;
  position: relative;
}

.text-lenda {
  font-size: 24px;
  color: #0BBC73;
}

p {
  font-size: 14px;
}

.action {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: -10px;
}

.number {
  background: url('https://cdn.glitch.com/4b63a218-7df4-4d7a-9356-520d4434850e%2Fnumbers.png?1493854410212');
  height: 42px;
  width: 42px;
  position: absolute;
  top: 0;
  left: 0;
}
.number-1 {
  background-position: 0;
}
.number-2 {
  background-position: -42px;
}
.number-3 {
  background-position: -84px;
}
.number-4 {
  background-position: -126px;
}
.number-5 {
  background-position: -168px;
}
.number-6 {
  background-position: -210px;
}
.number-7 {
  background-position: -252px;
}
.number-8 {
  background-position: -294px;
}
